body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Georgia", serif;
  line-height: 1.5;
  padding: 4em 1em;
  /* height: 100%; */
}

/* .page { */
/*   background-color:  #99c2ff; */
/*   height: 100%; */
/* } */

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

#profile {
  height: 250px;
}

#header-box {
  display: flex;
}

#contact-box {
  flex: 1
}

#profile-box {
  flex: 0 0 30%;
}
